.register-container, .login-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.register-left {
    width: 45%;
    height: 100%;
    overflow: hidden;
}

/* NOTE: Still deciding if we should keep this */
.register-left::before {
    width: 45%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: #245044;
    opacity: 0.8;
}

.register-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.register-right {
    width: 55%;
    height: 100%;
    padding: 50px;
    background-color: white;
    overflow-y: auto;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.form-title {
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    gap: 16px;
    width: 100%;
}

.form-row .form-input {
    flex: 1;
}

.form-input {
    margin-bottom: 15px;
}

.form-input label {
    display: block;
    margin-bottom: 3px;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.form-input input,
.form-input select {
    width: 100%;
    padding: 10px;
}

.btn-container {
    margin-top: 30px;
    text-align: center;
}

.form-footer {
    margin-top: 12px;
}

.login-left {
    width: 55%;
    height: 100%;
    padding: 50px;
    background-color: var(--pine-green);
    padding-top: 140px;
    overflow-y: auto;
}

/* NOTE: Still deciding if we should keep this */
.login-right::before {
    width: 45%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: white;
    opacity: 0.4;
}

.login-left h1, .login-left .form-footer, .login-left .form-footer a, .login-left label {
    color: white;
}

.login-right {
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.login-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.email-container, .password-container {
    position: relative;
    width: 100%;
}

.email-container input, .login-left .password-container input {
    width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
}

.email-icon, .password-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}



/*
TODO LIST:
- logo placeholder at the upper right
*/